*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: auto; */
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}
p {
  text-align: center;
  color: white;
}

.card {
  min-width: auto;
  min-height: auto;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.search-textbox {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  border: none;
  border-radius: 12px;
}
.search-textbox::placeholder {
  padding: 10px;
}
.search-btn {
  padding: 3px;
  border: none;
  border-radius: 4px;
}
.search-btn p {
  color: black;
}
.temprature {
  font-size: 45px;
}
.city-name {
  font-size: 25px;
}

.card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.humidity,
.wind-speed {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
